.popup__pay-buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin: 0px 0px 26px 0px;
}