.count-top{
    /* position: absolute; */
    color: #FFFFFF;
    width: 16px;
    height: 16px;
    top: -6px;
    right: 0;
    position: absolute;
    background: #F55123;
    border-radius: 16px;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}