.icon_2 {
    margin: 1px 3px 0px 0px;
    position: absolute;
    top: 0;
    /* left: 50%; */
}
.icon_2 {
    position: absolute;
    top: 0;
    right: 0;
}
.icon_2:hover.red {
    opacity: 1;
}
.icon_2:hover {
    opacity: 0;
}
.icon_2 img{
    width: 15px;
    height: 16px;
}
@media (max-width: 670px) {
    .icon_2{
            right: -60px;
        }
}
@media (max-width: 670px) {
    .icon_2 {
            margin-right: 14px;
        }
}