.issue__info-title {
    margin: 0px 0px 0px 9px;
    font-size: 13px;
    line-height: 16px;
}
.issue__info-title span{
    color: #0CB477;
}
.issue__info-title {
    
}
@media (max-width: 670px) {
    .issue__info-title{
            margin-top: -2px;
            margin-right: 15px;
        }
}