.delivery__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
}
@media (max-width: 670px) {
    .delivery__title{
            font-size: 20px;
        }
}