.receiver__tel {
    margin-right: 24px;
    /* flex: 0 1 217px; */
    width: 100%;
}
@media (max-width: 670px) {
    .receiver__tel{
            flex: 0;
            margin-bottom: 18px;
        }
}