.price-block__price-text {
    display: block;
    top: 19px;
    right: 0;
    width: 239px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    position: absolute;
    padding: 11px 16px 13px;
    background: #FFFFFF;
    font-size: 13px;
    opacity: 0;
    visibility: hidden;
}